* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #1f2937;
  padding: 15px 200px;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header .navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
}

.header .navigation ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.header .navigation a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.header .navigation a:hover {
  color: #f9faf8;
  text-decoration: underline;
}

.header .hero {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  align-items: center;
}

.header .hero .content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: space-between;
  gap: 25px;
}

.header .hero .content h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.header .hero .content p {
  color: #e5e7eb;
  font-size: 18px;
  line-height: 25px;
}

.header .hero .hero-btn {
  align-self: start;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 10px;
}

.header .hero .hero-img-container {
  background-color: grey;
  width: 600px;
  height: 250px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

main .info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

main .info .card-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
}

main .info .card {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main .info .card p {
  text-align: center;
  color: #1f2937;
}

main .info .card .card-img {
  width: 180px;
  height: 180px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

main .testimonial {
  background-color: #e5e7eb;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .testimonial blockquote {
  width: 950px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  line-height: 50px;
}

main .testimonial blockquote footer {
  text-align: right;
  color: #1f2937;
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
}

main .cta {
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .cta .box {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 50px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main .cta .box .head-text {
  font-size: 24px;
  margin-bottom: 8px;
}

main .cta .box p {
  font-size: 18px;
}

main .cta .cta-btn {
  padding: 2px 50px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #f9faf8;
  border-radius: 10px;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 50px;
  font-size: 16px;
  text-align: center;
}
