* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #1f2937;
  padding: 15px 200px;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header .navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header .navigation ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.header .navigation a {
  color: #e5e7eb;
  text-decoration: none;
}

.header .navigation a:hover {
  color: #f9faf8;
  text-decoration: underline;
}
